#logo {
    max-width: 80px;
}
#color-scheme {
    max-width: 400px;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
} 
h1 {
    font-weight: 600;
}
h2, h3, h4, h5, h6 {
    font-weight: 300;
}