/*65rem is also 1828px when basefont is 16px*/
@media only screen and (min-width: 64rem) {
  #top-banner {
    align-items: flex-end;
    grid-template-areas: "title nav social";
  }
  nav button {
    display: none;
  }
  nav ul#primaryNav {
    display: flex;
    margin-left: 2vw;
  }
  nav ul li a {
    padding: 0.5rem 1rem;
    border:none;
    font-size: 1.5rem;
  }
  main {
    grid-template-areas:
      "event call call spot"
      "wet call call spot"
      "join news news spot";
  }
  #spotlights {
    grid-template-columns: 1fr;
  }
  #join,
  #spot3 {
    display: block;
  }
} /* end largeg */
