/*62rem is also 992px when basefont is 16px*/
@media only screen and (min-width: 62rem) {
  #top-banner {
    align-items: flex-end;
    grid-template-areas: "title nav social";
  }
  nav button {
    display: none;
  }
  nav ul#primary-nav {
    display: flex;
    margin-left: 2vw;
  }
  nav ul li a {
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.5rem;
  }
  main {
    max-width: 1200px;
    grid-template-areas:
      "event hero hero spot"
      "wet hero hero spot"
      "join news news spot";
  }
  main section.hero {
    background-image: url("../images/wdd230-org550.jpg");
  }
  #spotlights {
    grid-template-columns: 1fr;
  }
  #spot3 {
    display: block;
  }
} /* end largeg */
