/*62rem is also 992px when basefont is 16px*/
@media only screen and (min-width: 62rem) {
  .top-banner {
    align-items: flex-end;
    grid-template-areas: "title nav social";
  }
  nav button {
    display: none;
  }
  nav ul#primary-nav {
    display: flex;
    margin-left: 2vw;
  }
  nav ul li a {
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.5rem;
  }
  .align {
    max-width: 1200px;
    margin: auto;
  }
  main article {
    padding: 1rem;
  }
  main #event {
    grid-row: 1;
    grid-column: 1;
  }
  main article.hero {
    grid-row: 1/3;
    grid-column: 2/4;
    background-image: url("../images/wdd230-org700.jpg");
  }
  main #spotlights {
    grid-row: 1/4;
    grid-column: 4;
  }
  main .weather {
    grid-row: 2;
  }
  main #join {
    grid-row: 3;
    grid-column: 1;
    display: block;
  }
  main #news-release {
    grid-row: 3;
    grid-column: 2/4;
  }

  #spotlights {
    grid-template-columns: 1fr;
  }
  #spot3 {
    display: block;
  }

  /*Discover Info*/
  #discover {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*Join Us Info*/
  form label.sbs {
    padding: .4rem 0;
}

} /* end largeg */
