/*35rem is also 560px when basefont is 16px*/
@media only screen and (min-width: 35rem) {

  main {
    grid-template-areas:
      "call call call"
      "news news news"
      "spot spot spot"
      "join join join"
      "event event wet";
  }
  /* Main Grid Items */
  main #call-to-action {
    grid-area: call;
  }
  main #event {
    grid-area: event;
  }
  main #weather {
    grid-area: wet;
  }
  main #news-release {
    grid-area: news;
  }
  main #spotlights {
    grid-area: spot;
  }
  main #join {
    grid-area: join;
  }

  #spotlights {
    grid-template-columns: 1fr 1fr;
  }

  #footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding:0;
  }
} /* end medium */
