:root {
    /* Fonts */
    --cursive-font: 'Merienda', cursive;
    font-family: 'Poppins', sans-serif;
    /* Colors */
    --custom-white: 244, 245, 246;  /*Name: Cultured. Purpose: Clean background color.*/
    --custom-grey: 70, 72, 93;      /*Name: Independence. Purpose: Clearly visible contrast color.*/
    --custom-green: 193, 233, 175;  /*Name: Mantis. Purpose: Lively main style color.*/
    --custom-yellow: 254, 237, 154; /*Name: Minoin Yellow. Purpose: Bright gentle contrast color.*/
    --custom-red: 226, 80, 84;      /*Name: Imperial Red. Purpose: Eye catching priority color.*/
    /* Padding */
    --custom-spacing: 2vw;
}
/* General */
h1 {
    font-size: 250%;
    padding: var(--custom-spacing);
}
h1, h2 {
    font-family: var(--cursive-font);
    color: rgb(var(--custom-grey));
    text-align: center;
    background-color: rgb(var(--custom-green), .8);
}
h1,h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
    color: rgb(var(--custom-grey));
    padding: 10px;
}

img {
    width: 100%;
}

.content-width {
    max-width: 500px;
    margin: auto;
}

/* Body */
body {
    background-color: rgb(var(--custom-white));
}

/* Header */

/* Navigation */
#main-nav {
    background-color: rgb(var(--custom-grey));
}
#main-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    margin-bottom: var(--custom-spacing);
}
#main-nav li {
    display: inline-block;
    padding: 10px;
}
#main-nav a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(var(--custom-green));
}
#main-nav .active a {
    color: rgb(var(--custom-yellow));
}

/* Main */
main {
    padding: var(--custom-spacing);
    display: grid;
}

.landing {
    text-align: center;
}

#hero {
    position: relative;
}
#hero form {
    position: absolute;
    bottom: var(--custom-spacing);
    right: var(--custom-spacing);
}
#hero input {
    background-color: rgb(var(--custom-grey), .9);
    color: rgb(var(--custom-green));
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.3rem rgb(var(--custom-white)));
    padding: 5px 10px;
}

.card {
    margin: var(--custom-spacing) 0;
    background-color: rgba(var(--custom-grey), .2);
}
.card h3 {
    text-align: center;
    background-color: rgb(var(--custom-green));
}
.card p {
    margin: 0;
    padding: 10px;
}

.weathericon {
    max-width: 4rem;
}
#weather div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#currweather p {
    font-weight: 600;
    font-size: 1.5rem;
}
#weather hr {
    margin: 0;
}

/* Footer */
footer {
    background-color: rgb(var(--custom-grey), .7);
    color: rgb(var(--custom-green));
}
footer h3 {
    color: rgb(var(--custom-green));
}
footer ul {
    margin: 0;
}
footer p {
    margin: 0;
    padding: var(--custom-spacing);
}
footer a {
    color: rgb(var(--custom-yellow));
}

/* Home */
/* Fresh */
/* About Us */
/* Attribution */