:root {
    /* Fonts */
    --cursive-font: 'Merienda', cursive;
    font-family: 'Poppins', sans-serif;
    /* Colors */
    --custom-white: 244, 245, 246;  /*Name: Cultured. Purpose: Clean background color.*/
    --custom-grey: 70, 72, 93;      /*Name: Independence. Purpose: Clearly visible contrast color.*/
    --custom-green: 193, 233, 175;  /*Name: Mantis. Purpose: Lively main style color.*/
    --custom-yellow: 254, 237, 154; /*Name: Minoin Yellow. Purpose: Bright gentle contrast color.*/
    --custom-red: 226, 80, 84;      /*Name: Imperial Red. Purpose: Eye catching priority color.*/
    /* Padding */
    --custom-spacing: 2vw;
}
/* General */
h1 {
    font-size: 250%;
    padding: var(--custom-spacing);
}
h1, h2 {
    font-family: var(--cursive-font);
    color: rgb(var(--custom-grey));
    text-align: center;
    background-color: rgb(var(--custom-green), .8);
}
h1,h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
    color: rgb(var(--custom-grey));
    padding: 10px;
}

img {
    width: 100%;
}

.content-width {
    max-width: 500px;
    margin: auto;
}

/* Body */
body {
    background-color: rgb(var(--custom-white));
}

/* Header */

/* Navigation */
#main-nav {
    background-color: rgb(var(--custom-grey));
}
#main-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
#main-nav li {
    display: inline-block;
    padding: 10px;
}
#main-nav a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(var(--custom-green));
}
#main-nav .active a {
    color: rgb(var(--custom-yellow));
}

/* Main */
main {
    padding: var(--custom-spacing);
    display: grid;
}

.landing {
    text-align: center;
}

.card {
    margin: 0 0 var(--custom-spacing) 0;
    background-color: rgba(var(--custom-grey), .1);
}
.card h3 {
    text-align: center;
    background-color: rgb(var(--custom-green));
}
.card p {
    margin: 0;
    padding: 10px;
}

a.fa {
    text-decoration: none;
    margin: var(--custom-spacing) 5px;
    background-color: rgb(var(--custom-grey), .9);
    color: rgb(var(--custom-green), .8);
    font-size: 2rem;
    text-align: center;
    padding: 15px;
    width: 30px;
}
/* Footer */
footer {
    background-color: rgb(var(--custom-grey), .8);
    color: rgb(var(--custom-green));
}
footer h3 {
    color: rgb(var(--custom-green));
}
footer ul {
    margin: 0;
}
footer p {
    margin: 0;
    padding: var(--custom-spacing);
}
footer a {
    color: rgb(var(--custom-yellow));
}

/* Home */
#hero {
    position: relative;
    min-width: 64%;
}
#hero form {
    position: absolute;
    bottom: var(--custom-spacing);
    right: var(--custom-spacing);
}
#hero input {
    background-color: rgb(var(--custom-grey));
    color: rgb(var(--custom-green));
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.3rem rgb(var(--custom-grey)));
    padding: 7px 10px;
}

.weathericon {
    max-width: 4rem;
}
#weather div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#weather p {
    font-weight: 600;
    color: rgb(var(--custom-grey));
}
#currweather p {
    font-size: 1.5rem;
}
#weather hr {
    margin: 0;
    color: rgb(var(--custom-grey));
}

/* Fresh */

form {
    color: rgb(var(--custom-grey));
    font-weight: 600;
    font-family: var(--cursive-font);
    margin: var(--custom-spacing) 0;
}
form label.top {
    display: block;
    padding: 1rem 0 .4rem;
    font-weight: 600;
}
form label.top input{
    display: block;
    padding: 5px;
    border: 2px solid rgb(var(--custom-red), .4);
    color: rgb(var(--custom-grey));
    background-color: rgb(var(--custom-green), .3);
}
form label.sbs {
    display: block;
}
form input.submitBtn {
    border: none;
    background-color: rgb(var(--custom-green));
    color: rgb(var(--custom-grey));
    font-family: var(--cursive-font);
    font-weight: 600;
    border-radius: .5rem;
    padding: .75rem;
    margin: 2% 0;
    width: 100%;
    max-width: 20rem;
}

/* About Us */
#about-us .card {
    text-align: center;
    font-weight: 600;
    color: rgb(var(--custom-grey), 1);
}
#about-us .card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
#about-us .card ul a {
    list-style: none;
    padding: 0;
    color: rgb(var(--custom-red));
}

.imagepar {
    padding: var(--custom-spacing) 0;
}
.imagepar p {
    margin: var(--custom-spacing) 0 0;
}
.img-right {
    display: flex;
    float: right;
    max-width: 50%;
    padding-left: 10px;
}
.img-left {
    display: grid;
    float: left;
    max-width: 50%;
    padding-right: 10px;
}
